<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="airlandUserPath" value="C:\Program Files (x86)\Steam\userdata\30987511\222750" />
    <Parameter name="reddragonData" value="D:\SteamLibrary\steamapps\common\Wargame Red Dragon\Data\WarGame\PC" />
    <Parameter name="airlandData" value="D:\SteamLibrary\steamapps\common\Wargame Red Dragon\Data\WarGame\PC" />
  </TestRunParameters>
</RunSettings>